<form nz-form [formGroup]="validateForm">
  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>E-mail</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <input nz-input formControlName="email" placeholder="email" type="email"/>
    </nz-form-control>
  </nz-form-item>

  <nz-form-item>
    <nz-form-label [nzSpan]="7" nzRequired>my custom component</nz-form-label>
    <nz-form-control [nzSpan]="12" nzHasFeedback>
      <app-quality-rule formControlName="myData"></app-quality-rule>
    </nz-form-control>
  </nz-form-item>
</form>
